.loadingPlaceholder .blogtitle {
  height: 24px;
}

.loadingPlaceholder .loadingBody {
  height: 12px;
  margin-bottom: 8px;
}

.loadingPlaceholder .loadingBody:nth-child(2) {
  width: 90%;
}

.loadingPlaceholder .loadingBody:nth-child(3) {
  width: 80%;
}

.loadingPlaceholder .loadingBody:nth-child(4) {
  width: 65%;
}

.loading {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f9;
	background-image: linear-gradient(to right, #f6f7f9 0%, #e9ebee 20%, #f6f7f9 40%, #f6f7f9 100%);
	background-repeat: no-repeat;
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer{
  0% {
      background-position: -468px 0;
  }
  100% {
      background-position: 468px 0;
  }
}