{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": "eslint-config-synacor",
  "rules": {
    "arrow-body-style": "off",
    "indent": ["error", 2],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "react/jsx-indent-props": [2,2]
  }
}
