<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
		<% if(htmlWebpackPlugin.options.details && 'slug' in htmlWebpackPlugin.options.details) {%>
			<link rel="canonical" href="https://blessed.wiki/article/<%= htmlWebpackPlugin.options.details.slug %>/" />
		<% } %>
		<meta property="og:title" content="<%= (htmlWebpackPlugin.options.details && htmlWebpackPlugin.options.details.title) || htmlWebpackPlugin.options.title %>" />
		<% if(htmlWebpackPlugin.options.details && 'cover' in htmlWebpackPlugin.options.details) {%>
			<meta property="og:image" content="<%= htmlWebpackPlugin.options.details.cover %>" />
		<% } %>
		<% if(htmlWebpackPlugin.options.details && 'subtitle' in htmlWebpackPlugin.options.details) {%>
			<meta property="og:description" content="<%= htmlWebpackPlugin.options.details.subtitle %>" />
      <meta property="description" content="<%= htmlWebpackPlugin.options.details.subtitle %>" />
			<meta name="Description" content="<%= htmlWebpackPlugin.options.details.subtitle %>" />
		<% } %>
		<meta name="twitter:card" content="<%= (htmlWebpackPlugin.options.details && 'cover' in htmlWebpackPlugin.options.details) ? 'summary_large_image' : 'summary'%>" />
		<% if(htmlWebpackPlugin.options.details && 'cover' in htmlWebpackPlugin.options.details) {%>
			<meta name="twitter:image" content="<%= htmlWebpackPlugin.options.details.cover %>">
		<% } %>
		<% if(htmlWebpackPlugin.options.details && 'subtitle' in htmlWebpackPlugin.options.details) {%>
			<meta property="twitter:description" content="<%= htmlWebpackPlugin.options.details.subtitle %>" />
		<% } %>
		<% preact.headEnd %>
	</head>
	<body style="margin:0; padding:0;">
    <div id="preact_root"></div>
		<% preact.bodyEnd %>
	</body>
</html>
